a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #39f;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  color: #5a646e;
  font-weight: 300;
  margin: 0;
}

i {
  letter-spacing: 0.5em;
}

.contact {
  padding: 2em;
  text-align: right;
}

.contact span {
  margin-left: 1em;
  font-weight: 900;
}

.logo img {
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  text-align: center;
}

.welcome h1 {
  font-size: 60px;
  font-weight: 100;
  color: white;
}

.welcome h5 {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  opacity: 0.5;
}

.container-phone {
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.phones {
  position: relative;
  width: 30%;
}

#left.phones {
  left: 7%;
}

#center.phones {
  width: 32%;
  bottom: 20px;
  z-index: 2;
}

#right.phones {
  right: 7%;
}

.header {
  position: relative;
  height: 120vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 135vh;
  width: 100%;
}

#background {
  position: fixed;
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
}

#overlay {
  background-color: rgba(61, 70, 100, 0.86);
}
